.details .form-field{
    font-size:1.4rem;
    position:relative;
    width:2em;
    height:2em;
    --top-border-length:50%;
    --transform-translate-x:-50%;
    --transform-translate-y:-50%;
    --transform-scale:.65;
   
  }

.query-movies-wrapper__input{
    margin-top: 3em;
}
.movie{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

   
}
.movie__name{
    min-width:min-content;
    color:white;
    background-color: blueviolet;

}
.movie-details-wrapper{
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    border: 4px blueviolet solid;
    border-right: none;
}
.details{
    display:flex;
    flex-direction: column;
    width:3em;
    margin:.2em;
    /* border:1px solid blueviolet;
    border-radius: 8px;
    margin:2.5px; */
}



.center{
    display: grid;
    place-content: center;
    padding:5px;
}