.details .form-field{
    font-size:1.4rem;
    position:relative;
    width:2em;
    height:2em;
    --top-border-length:50%;
    --transform-translate-x:-50%;
    --transform-translate-y:-50%;
    --transform-scale:.65;
   
  }

.query-movies-wrapper__input{
    margin-top: 3em;
}
.movie{
    width: min-content;
    margin:1em;

   
}
.movies__wrapper{
    display: flex;
}

.movie__name{
    min-width:min-content;
    color:white;
    background-color: blueviolet;

}
.movie-details-wrapper{
    padding:5px;
    display: grid;
    grid-template-columns: repeat(4,3em);
    border: 2px blueviolet solid;
    border-radius: 4px;
    margin-top:3px;
    margin-bottom: 3px;

}
.details{
    display:flex;
    flex-direction: column;
    width:3em;
    margin:.2em;
    /* border:1px solid blueviolet;
    border-radius: 8px;
    margin:2.5px; */
}



.center{
    display: grid;
    place-content: center;
    padding:5px;
}