.header{
    box-shadow:0 0px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
  }
  .header__container{
    display:flex;
    padding:0 min(5vw, 72px);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
  }

  .header__aside{
    display: flex;
    column-gap:16px;
  }
  .header__logo{
    color:#5f6368;
  
  }
  .button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color:white;
    padding:12px 24px;
    border-radius: 4px;
    text-decoration: none;
    border:1px solid transparent;
  }

  .button--medium{
    color:blueviolet;
    background-color: #fff;
    border-color: #dadce0;
  }
  
  .button:hover:not(.button--medium){
    background-color: hsl(271deg 76% 31%);
    color:#fff;
  }
  .button:active:not(.button--medium){
    background-color: hsl(271deg 76% 31%);
    color:#fff;
  }
  .button--medium:hover{
    background-color: #f1f3f4;
    color: hsl(271deg 76% 31%);
    border-color: blueviolet;
  
  }
  .button--medium:active{
    background-color: hsl(271deg 76% 97%);
    border-color: hsl(271deg 76% 31%);
  }