*{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }
.movies-container{
    min-width: 20rem;
    width:80%;
    margin:auto;
}
.seasons-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:3px;
    background-color: aquamarine;
    }
.movie-sidebar {
    grid-row:  1/99;
}
    
.episodes-container{
    font-size:5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(4rem,1fr));
    gap:1px;
    grid-auto-rows: min-content;
    border: 1px black solid;

}


/* 
.episode{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    text-align: center;
    color:white;
    aspect-ratio: 1/1;

} */

/* .episode{
    display: grid;

} */